@import url(alerta_invisivel.css);
body {
    background-image: url(/images/frame-00.jpg);
    background-repeat: no-repeat;
    font: normal 15pt Arial;
}
header {
    color: black;
    text-align: center;
    margin-left: 230px;
    margin-top: 30px;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: 70px 450px;
    box-shadow: 5px 5px 10px red;
}
footer {
    text-align: center;
}
#manual{
    outline: none;
}
#palavra{
    display: flex;
    justify-content: center;
}
#botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.palavraSorteada{
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-right-style:hidden;
    border-left-style:hidden;
    border-top-style:hidden;
    background-color: rgba(255, 255, 255, 0);
}
.invisivel{
    display:none;
}
input{
    margin-top: 5px;
}
#teclado{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.containerTeclado{
    display: flex;
    width: 100%;
    justify-content: center;
}
.getBtn{
    width: 38px;
    height: 38px;
    margin: 3px;
}
.getControles{
    width: 150px;
}


